
body {
    background-color: #1D1E21 !important;
}

.container {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
    margin-top: 3.42857rem;
}

#form  input[type="text"]{
	width : 70%;
}

#board{
    visibility: hidden;
}
.table {
    margin-bottom: 0px !important;
}